.formulario{
    color: brown;
    font-weight: bold;
    padding-left: 15px;
}

h2{
    color: red;
    text-emphasis: 5;
    padding-left: 14%;
    /*text-align: center;*/
}

input{
    color: blue;
}

option{
    color: blue;
}
/*Estilos a combobox*/
.form-control{
   color: blue;
   background: transparent;   
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
}

.formulario-check{
    color: blue;
    padding-left: 1%;
}
input[type=checkbox]{
    transform: scale(1.5);
}

input[type=button]{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin-left: 30px;
}